# Server
BASE_URL="https://api.duckflix.fun/v1" # API base url - for media serving
PROXIES=1 # Number of trusted proxies -> Nginx, Cloudflare...
HOSTNAME=0.0.0.0
PORT=3000

# Cookies & CORS
DOMAIN=".duckflix.fun" # allowed domain for cookies that should be accessed on frontend -> e.g. csrf cookie
ORIGIN="https://duckflix.fun" # allowed origin

# Configuration
STORAGE_LIMIT=20000 # In MB, e.g. 20000MB -> 20GB
UPLOAD_FILE_LIMIT=16384 # In MiB, e.g. 16384MiB -> 16GiB
DROP_FOLDER="/app/data/drop" # folder for manually dropping movies
TEMP_FOLDER="/app/data/temp" # temp storage -> uploads, torrent downloads
STORAGE_FOLDER="/app/data/storage" # permanent storage -> movies
LIVE_FOLDER="/app/data/live" # can be /dev/shm on linux
LOG_FOLDER="/app/logs"

# Database
DATABASE_PATH="/app/data/duckflix.db"

# SMTP - Optional -> Recommended for servers on the internet
SMTP_HOST="smtp.example.com"
SMTP_PORT=587
SMTP_USERNAME=""
SMTP_PASSWORD=""

# External APIs
RQBIT_URL="http://rqbit:3030"

TMDB_URL="https://api.themoviedb.org/3"
TMDB_API_KEY=""

OPENSUBS_URL="https://api.opensubtitles.com/api/v1"
OPENSUBS_USERNAME=""
OPENSUBS_PASSWORD=""
OPENSUBS_API_KEY=""
