# Server
BASE_URL="https://api.duckflix.fun/v1" # API base url - for media serving
PORT=3000

# Cookies & CORS
DOMAIN=".duckflix.fun" # allowed domain for cookies that should be accessed on frontend -> e.g. csrf cookie
ORIGIN="https://duckflix.fun" # allowed origin

# Configuration
UPLOAD_FILE_LIMIT=16384 # In MB, e.g. 16384MB -> 16GB
CONCURENT_PROCESS=1 # Concurent process
TEMP_FOLDER="./temp" # temp storage -> uploads, torrent downloads
STORAGE_FOLDER="./storage" # permanent storage -> movies


# Database
DATABASE_URL="postgresql://user:password@localhost:5432/duckflix_db"

# Authentication
JWT_SECRET="LongRandomSecretString123!"

# APIs
TMDB_API_KEY=""
