# Server
BASE_URL="https://api.duckflix.fun/v1" # API base url - for media serving
PROXIES=1 # Number of trusted proxies -> Nginx, Cloudflare...
PORT=3000

# Cookies & CORS
DOMAIN=".duckflix.fun" # allowed domain for cookies that should be accessed on frontend -> e.g. csrf cookie
ORIGIN="https://duckflix.fun" # allowed origin

# Configuration
UPLOAD_FILE_LIMIT=16384 # In MB, e.g. 16384MB -> 16GB
CONCURENT_PROCESS=1 # Concurent process
TEMP_FOLDER="/app/data/temp" # temp storage -> uploads, torrent downloads
STORAGE_FOLDER="/app/data/storage" # permanent storage -> movies

# Database
DATABASE_URL="postgresql://user:password@duckflix_db:5432/duckflix_db"
REDIS_URL="redis://redis:6379"

# Authentication
JWT_SECRET="LongRandomSecretString123!"

# External APIs
RQBIT_URL="http://rqbit:3030"

TMDB_URL="https://api.themoviedb.org/3"
TMDB_API_KEY=""

OPENSUBS_URL="https://api.opensubtitles.com/api/v1"
OPENSUBS_USERNAME=""
OPENSUBS_PASSWORD=""
OPENSUBS_API_KEY=""
